<section class="hero">
  <!-- Fondo Matrix -->
  <div class="matrix-background" id="matrix-canvas"></div>

  <!-- Contenido principal -->
  <div class="content">
    <h1 class="glitch" data-text="AlbertoDev">Alberto 👾</h1>
    <p class="subtitle">Director de formación deportiva en Toledo | Desarrollador Full Stack en Golgorio | En constante aprendizaje </p>

    <div class="cta-buttons">
      <a mat-stroked-button color="accent" routerLink="/projects"
        >Ver Mis Proyectos</a
      >
      <a
        mat-stroked-button
        color="accent"
        href="assets/cv/cvAlbertoCampaneroArevalo.pdf"
        target="_blank"
        >Descargar CV</a
      >
      <a mat-stroked-button color="accent" href="https://www.instagram.com/corralsemueve/">Mis proyectos deportivos</a>
    </div>


  </div>
</section>
